body{
    font-family: Roboto;
}

.subtitle{
    color: #cc00ff;
}

.titlef {
    font-family: Raleway;
}

.subtitlef{
    font-family: 'Roboto Condensed';
}

.bi::before {
    display: inline-block;
    content: "";
    background-image: url("data:/assets/icons/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23333' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
}

html { font-size: 1rem; }
@include media-breakpoint-up(sm) { html { font-size: 1.2rem; } }
@include media-breakpoint-up(md) { html { font-size: 1.4rem; } }
@include media-breakpoint-up(lg) { html { font-size: 1.6rem; } }

.left{
    float: left;
    clear: both;
    margin-bottom: 10px;
}
.t-hover{
    transition: transform .2s;
}
@media screen and (min-width: 1080px){
.t-hover:hover{
  transform: scale(1.1);
  color: #000000;
  background-color: #f5fffa;
}}
.sticky{
    top: 0;
    position: sticky;
    z-index: 1;
}


.fixoverlap {
    z-index: 1;
}

.click{
    display: block;
}

.text-center{
    align: center;
}

.border{
    border-radius: 5px;
}

.bold{
    font-weight: bolder;
}

/*
nav{
    top: 0;
    float: left;
    background-color: #666;
    width: 100%;
    font-size: 18px;
    text-align: center;
    position: sticky;
    overflow: auto;
    z-index: 1;
}

.navlink {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}


@media screen and (max-width: 480px) {
  .navlink{
      display: inline-block;
      text-align: center;
      z-index: 1;
    }
}


a:active{
    background-color: green;
    color: #f1f1f1f1;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    background-color: #f2f3f5f2;
    color: #333;
}
*/

article {
    padding: 15px;
}

.sticker{
    font-family: helvetica;
    color: #555;
    border-left: 3px solid magenta;
    padding-left: 15px;
}

.stickerjns{
    padding: 15px;
    text-align: center;
    color: #555;
}

.images{
    height: auto;
    width: 50%;
}

.left{
    float: left;
}

.print{
    padding: 3px;
    border-left: 3px solid cyan;
}

.font{
    color: #555;
    font-family: Rubik;
}

#cutdef #prcut{
    padding: 15px;
}

#printdef #prprint{
    padding: 15px;
}

footer{
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
}
