*{
    font-family: Oxygen;
}

html { font-size: 1rem; }
@include media-breakpoint-up(sm) { html { font-size: 1.2rem; } } 
@include media-breakpoint-up(md) { html { font-size: 1.4rem; } } 
@include media-breakpoint-up(lg) { html { font-size: 1.6rem; } }

.left{
    float: left;
    clear: both;
    margin-bottom: 10px;
}

.sticky{
    top: 0;
    position: sticky;
    z-index: 1;
}

.fixoverlap {
    z-index: 1;
}

.click{
    display: block;
}

.text-center{
    text-align: center;
}

.border{
    border-radius: 5px;
}

.bold{
    font-weight: bolder;
}

/*
nav{
    top: 0;
    float: left;
    background-color: #666;
    width: 100%;
    font-size: 18px;
    text-align: center;
    position: sticky;
    overflow: auto;
    z-index: 1;
}

.navlink {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}


@media screen and (max-width: 480px) {
  .navlink{
      display: inline-block;
      text-align: center;
      z-index: 1;
    }
}


a:active{
    background-color: green;
    color: #f1f1f1f1;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    background-color: #f2f3f5f2;
    color: #333;
}
*/

article {
    padding: 15px;
}

.sticker{
    font-family: helvetica;
    color: #555;
    border-left: 3px solid magenta;
    padding-left: 15px;
}

.stickerjns{
    padding: 15px;
    text-align: center;
    color: #555;
}

.images{
    height: auto;
    width: 50%;
}

.left{
    float: left;
}

.print{
    padding: 3px;
    border-left: 3px solid cyan;
}

.font{
    color: #555;
    font-family: Rubik;
}

#cutdef{
    padding: 15px;
}

#printdef{
    padding: 15px;
}

footer{
    margin-top: 20px;
    text-align: center;
}