*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #F0F0F0;
}
.border{
    border-radius: 8px;
}

.left{
    float: left;
    clear: both;
    margin-bottom: 10px;
}

.fixoverlap {
    z-index: 1;
}

.click{
    display: block;
}


/*nav{
=======
.text-center{
    text-align: center;
}

.border{
    border-radius: 5px;
}

nav{

    top: 0;
    float: left;
    background-color: #666;
    width: 100%;
    font-size: 18px;
    text-align: center;
    position: sticky;
    overflow: auto;
    z-index: 1;
}
*/

.sticky{
    position: sticky;
    overflow: auto;
    z-index: 1;
    top: 0;
}
.navlink {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}
@media screen and (max-width: 480px) {
  .navlink{
      display: inline-block;
      text-align: center;
      z-index: 1;
    }
}

/*a:active{
    background-color: green;
    color: #f1f1f1f1;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    background-color: #f2f3f5f2;
    color: #333;
}*/

article {
    padding: 15px;
    overflow: auto;
}

.sticker{
    font-family: helvetica;
    color: #888;
    border-left: 3px solid magenta;
    padding-left: 15px;
}

.stickerjns{
    padding: 15px;
    text-align: center;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
.cutting{
    padding-left: 10px;
    padding: 3px;
    border-left: 3px solid #0099ff;
    transition: height 4s;
    animation-name: slideInFromLeft;
    animation-duration: 2s;
}

.print{
    width: 50%;
    float: left;
    padding: 3px;
    border-left: 3px solid cyan;
}

footer{
    margin-top: 20px;
    text-align: center;
}